
.languageinfo{ 
    font-size: 14px;
    margin-top: 0;
}
.homecard{
    border-radius: 25px;
}
button{
        height: 75%;
}
.info{
        padding-left: 30px;
}
.languagelabel{
        text-align: left;
        margin-left: 15px;
        margin-top: 0;
}
ion-checkbox{
    margin-top: 2px;
}

.dontshow{
    font-style: italic;
    margin-top: 35px;
    margin-left: 35px;
}


