page-settings{
.myContent{
    width: 95%;
    font-style: italic;
    font-size: 10px;
    ion-checkbox{
        margin-top:12px;
    }
    ion-label{
        display: inline;
        margin-left: 5px;
        position: absolute;
    }
}
}